* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    font-family:'Helvetica Neue', sans-serif;
    position: relative;
    background-color: rgb(240, 240, 228);
    
}
img.pag_oficial{
  position: relative;
  width: 750px;
  height: 600px;
  margin-left: 1%;
  border-radius:50%;
  box-shadow: 0px 0px 15px 15px #0f32d1;
  filter: sepia(60%);
  left: 5%;
}

button{
  position: relative;
  top: 120px;
  left: 7%;
  width: 80%;
  height: 100px;
  background-color: rgba(212, 212, 241, 0.815);
  font-size: 15px;
  color:rgb(0, 0, 0);
  border-radius: 15px;
}
button:hover{
  background-color: rgb(58, 58, 218);
}

button a{
  color: black;
  font-weight: 800;
}
.contenedor .programar{
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  position: relative;
  top: -90px;
  left: -13%;
    
}

.logo1{
    position: relative;
    width: 100px;
    left: 250px;
    top: 230px;
    border: 2px solid rgb(5, 5, 158);
}

.pop-over {
   display: none;
   box-shadow: 0px 6px 8px rgba(19, 19, 19, .7);
}

.pop-over:target {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-over .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background-color: black;
  font-weight: 700;
  animation: 1s grow ease forwards;
  text-align: center;
}

.nav_list  {
  list-style-type: none;
}

.nav_list a {
  text-decoration: none;
  font-size: 50px;
  color: #fff;
}

.nav_list_item {
  height: 100%;
  overflow: hidden;
}

.nav_list li {
  padding: 15px 0;
  text-transform: uppercase;
  transform: translateY(200px);
  opacity: 0;
  animation: 2s slideUp ease forwards .5s;
  position: relative;
}

.nav_list li::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0px;
  left: 0;
  bottom: 10px;
  background: #3902b8;
  transition: all .8s ease;
}

.nav_list li:hover:before {
      width: 100%;
}

.pop-over p {
  padding: 50px;
  opacity: 0;
  animation: 1s fadeIn ease forwards 1s;
}

.pop-over .close::after {
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  background-color: #3902b8;
  color: #fff;
  content: "×";
  cursor: pointer;
  opacity: 0; 
  animation: 1s fadeIn ease forwards .5s;
}

@keyframes grow {
  100% {
    height: 90%;
    width: 90%;
 }
}

@keyframes fadeIn {
100% {
  opacity: 1;
 }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}